html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #393b43;
}

p, h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

li, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow: hidden; /* Ensures intro screen hides overflow */
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

#navBar {
  background-color: #5f626d;
  height: 5%;
  border: 2px solid black;
  padding: 16px 0px 16px 0px;
}
#navBar p{
  margin: 0px;
}

#heading {
  background-color: black;
  display: flex;
  flex-direction: row;
}

#headerImg {
  margin-left: 12%;
  margin-top: 50px;
}

#row {
  display: flex;
  flex-direction: row;
  background-color: #393b43;
}

#row2 {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin: 5px;
}

#love, #message {
  border: 2px solid black;
  margin-top: 3%;
  padding: 3px;
  background-color: #5f626d;
}

#love {
  width: 350px;
  margin-left: 3%;
}

#message {
  width: 66%;
  margin-left: 3%;
}

#message p {
  margin-left: 5px;
  margin-right: 5px;
}

#music, #music2 {
  margin-top: 3%;
}

#music {
  margin-left: 3%;
  margin-bottom: 40px;
}

#music2 {
  margin-left: 11%;
}

#mine, #lyrics {
  border: 2px solid black;
  margin-top: 3%;
  padding: 3px;
  background-color: #5f626d;
  margin-left: 3%;
  width: 350px;
}

#img1 {
  margin-top: 4px;
}

#img2 {
  margin-left: 4%;
}


#iloveyou {
  font-size: 50px;
}

#lovey, #decal2 {
  border: 2px solid black;
  margin-top: 8%;
  padding: 3px;
  background-color: #5f626d;
  margin-left: 8%;
  width: 555px;
}

.continueBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  opacity: 0;
}

.yum {
  opacity: 1;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
